$orange: #ffa800;
$gray: #b3b5b7;
$gray_light: #d5d7d8;
$white: #fff;
$gray_strong: #50555c;
$white_gray:#c4c4c4;

// barckground color
$background-color-orange: $orange;
$background-color-white: $white;

// font color
$font-color-orange: $orange;
$font-color-white: $white;
$font-color-gray: $gray;
$font-color-gray_light: $gray_light;
$font-color-gray_strong: $gray_strong;

// border color
$border-color-gray: $gray;
$border-color-white_gray: $white_gray;
$border-color-gray_strong: $gray_strong;

//global fontsize
$font-size-xsmall: 1.0rem;
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.6rem;
$font-size-extra-large: 1.8rem;
$font-size-2extra-large: 2.0rem;
$font-size-big: 3.3rem;